html {
    height: 100%;
    font-size: 14pt;
    font-family: 'Ubuntu Mono', monospace;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    html {
        height: 100%;
        font-size: 12pt;
    }    
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background-color: initial;
    transition: background-color 0.1s ease-in-out;
}

body.background {
    background-color: #151515;
}

h1, h2, h3, h4, h5, h6, p strong {
    color: #E5E5E5;
    font-weight: bold;
}

p{
    text-align: justify;
}



.wrapper {

    height: 100%;
    display: grid;
    /* justify-content: left; */
    grid-template-rows: 1fr 2fr 1fr;

    grid-template-columns: 15% auto 15%;
    grid-template-areas: ". . ." ". center ." ". . .";

    font-size: 1em;
}

.wrapper,
a {
    color: #DDD;
}

@media (max-width: 600px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-areas: "." "center" ".";
        margin-left: 1.3rem;
    }
}

/* @media (max-width: 450px) {
    .wrapper {
        font-size: 1rem;
    }
} */

.center-screen {
    grid-area: center;
    /* align-self: center; */
    overflow: hidden;
}

.center-screen.scroll {
    overflow-y: auto;
    scrollbar-color: #404040 #000000;

}

.center-screen.scroll::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000000;
}

.center-screen.scroll::-webkit-scrollbar-thumb {
    background: #404040;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.center-screen.scroll::-webkit-scrollbar-corner {
    background: #000;
}

#logo {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
    color: #DDD;
    padding: 10px;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
}

.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}
#consolelocation{
    padding-top: 2px;
}

#input {
    display: flex;
}

#inputtext {
    background: transparent;
    border: none;
    font-size: 1rem;
    font-family: 'Ubuntu Mono', monospace;
    color: #DDD;
    display: initial;
    margin-left: 0.45rem;
    width: 100%;
}

#inputtext:focus {
    outline: none !important;
    border: none;
    box-shadow: 0;
}

#output > div {
    margin-bottom:2px;
}